.form-entrance__info.form-entrance__info_welcome
    .info-welcome__icon
        img(src="../images/content/user.jpg", class="info-welcome__pic")
    .info-welcome__name
        | Алексей Гунчин
    .info-welcome__descr
        | Личный сайт веб разработчика
    .info-welcome__social
        ul.social
            li.social__link
                a(class='social__link-pic social__link-vk', href='#')
            li.social__link
                a(class='social__link-pic social__link-gh', href='#')
            li.social__link
                a(class='social__link-pic social__link-ln', href='#')
.form-entrance__btn.form-entrance__btn_welcome
    a(class='btn-form__link btn-form__link-welcome', href='#') Мои работы
    a(class='btn-form__link btn-form__link-welcome', href='#') Обо мне
    a(class='btn-form__link btn-form__link-welcome', href='#') Блог